html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

header {
  width: 1300px;
  margin: auto;
}

input:focus,
select:focus {
  outline: none;
}

button {
  border: none;
  background: transparent;
}

.icon:hover {
  background: #777;
  border-radius: 50px;
  align-items: center;
}

h1 {
  margin: 0;
  font-size: 42px;
  color: rgb(236, 86, 39);
  font-weight: lighter;
}

header p {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  height: 33px;
  width: 60px;
  padding: 7px 0 0;
}

#cartImg {
  width: 52px;
}

.Etsyhead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.Etsyhead input {
  height: 49px;
  width: 1058px;
  border: 1px solid gray;
  border-radius: 22px;
  padding: 17px;
  font-size: 16px;
}

.x {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 13px;
  right: 200px;
}

.mag {
  position: absolute;
  height: 30px;
  width: 30px;
  top: 13px;
  right: 170px;
}

.bottom ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
}

#border {
  border: 1px solid #ccc;
  width: 100%;
}

#orangeBox {
  width: 1300px;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
}

#orangeBox ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  align-items: center;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 100;
}

#orangeBox > ul > li {
  background: rgb(247, 147, 111);
  height: 36px;
  padding: 14px;
  display: flex;
  align-items: center;
  border-radius: 22px;
}

a:link,
a:visited {
  text-decoration: none;
  color: black;
}

#wrapper {
  display: grid;
  grid-template-areas:
    "side res"
    "side main";
  width: 1300px;
  margin: auto;
}

#wrapper .container {
  grid-area: main;
}

#wrapper aside {
  grid-area: side;
}

#wrapper .whiskeyRes {
  grid-area: res;
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 0 17px;
}

.whiskeyRes .cat {
  padding-left: 40px;
}

.whiskeyRes .whiskey {
  padding-left: 40px;
}

.whiskey::before {
  content: "";
  position: absolute;
  border-color: transparent black;
  border-style: solid;
  border-width: 6px 0px 6px 6px;
  height: 0px;
  width: 0px;
  top: 3px;
  left: 165px;
}

.whiskeyRes .whiskey::after {
  content: "";
  position: absolute;
  border-color: transparent white;
  border-style: solid;
  border-width: 6px 0px 6px 6px;
  height: 0px;
  width: 0px;
  top: 3px;
  left: 162px;
}

.whiskeyRes .relevancy {
  padding-left: 641px;
}

.relevancy::after {
  content: "";
  position: absolute;
  border-color: black transparent;
  border-style: solid;
  border-width: 6px 6px 0px 6px;
  height: 0px;
  width: 0px;
  top: 7px;
  right: 27px;
}

.container {
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  grid-gap: 20px;
}

.obj {
  display: grid;
  grid-template-areas:
    "img"
    "title"
    "name"
    "rating"
    "price";
  line-height: 15px;
  position: relative;
}

.shopName {
  grid-area: name;
  height: 50px;
}

.rating {
  grid-area: rating;
  position: absolute;
  top: -44px;
  height: 50px;
}

.obj .mainImg {
  grid-area: img;
  justify-self: center;
  width: 250px;
  height: 200px;
  position: relative;
}

.heart {
  position: absolute;
  padding-left: 216px;
  display: none;
}

.obj:hover .heart {
  position: absolute;
  padding-left: 216px;
  display: block;
}

.obj .title {
  grid-area: title;
  justify-self: left;
  text-overflow: ellipsis;
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
}

.obj .price {
  grid-area: price;
  justify-self: left;
  margin: 0;
}

#sidebar {
  font-family: Verdana, Geneva, sans-serif;
}

#sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 15px;
  font-family: Verdana, Geneva, sans-serif;
  opacity: 0.7;
  transform: scale(0.8);
}

#sidebar ul li {
  margin: 7px 0;
}

#sidebar h5 {
  font-size: 12px;
  margin: 0;
  opacity: 0.7;
}

#sidebar .showMore {
  margin: 0 0 5px;
}

#sidebar .showM {
  width: 125px;
  display: flex;
  justify-content: center;
}

#sidebar .radio {
  font-size: 12px;
  opacity: 0.7;
}

#low,
#high {
  width: 70px;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: center;
  margin: 0 7px;
}

#loc {
  width: 108px;
  border-radius: 10px;
  border: 1px solid gray;
  text-align: center;
  margin: 0 7px;
}

.priceSide {
  padding-top: 13px;
}

.plus {
  font-size: 18px;
}

.checkbox {
  font-size: 12px;
  opacity: 0.7;
}

#specialOffers h5 {
  font-size: 12px;
  opacity: 0.7;
  margin: 9px 0 7px;
}

@media screen and (max-width: 900px) {
  header {
    width: 800px;
  }

  .container {
    width: 400px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 10px;
  }

  .top input {
    width: 553px;
  }

  .nav li {
    width: 61px;
  }

  #orangeBox {
    width: 800px;
  }

  #orangeBox > ul > li {
    padding: 17px 20px;
    margin: 0 15px;
  }

  #wrapper {
    width: 700px;
  }

  .whiskeyRes .whiskey::after {
    left: 128px;
  }

  .whiskeyRes .whiskey::before {
    left: 131px;
  }

  .whiskeyRes .cat {
    padding-left: 11px;
  }

  .whiskeyRes .whiskey {
    padding-left: 21px;
  }

  .whiskeyRes .relevancy {
    padding-left: 155px;
  }

  .relevancy::after {
    right: -5px;
  }
}
